* {
    box-sizing: border-box;
  }
  
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    display: block;
    font-size: 14px;
    overflow-x: hidden;
  }
  div{
      display: block;
  }

  .main-nav{
      display: flex;
      background: #ff1b68;
      width: 100%;
      padding: 0;
      margin: 0;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: center;
      color: white;
      background: #030305;
      }

      .main-nav ul{
          display: inline;
      }

  left-nav{
      background-color: #ff1b68;
      margin: 0;
      position: flex;
      justify-content: flex-start;
      left: 0;
      display: inline;
      font-size: small;
      line-height: 27px;

  }


  .page_title h1{
    font-size: 100px;
    font-weight: 500;
    line-height: 120px;
    font-family: Butler;
    margin: 0;
    padding-bottom: 0;
    position: absolute;
    width: 263px;
    height: 120px;
    left: 621.24px;
    top: 25px;  }

  right-nav{
    background-color: #ff1b68;
    margin: 0;
    position: flex;
    justify-content: flex-end;
    right: 0;
    font-size: small;
    line-height: 27px;

}
.icon {
    margin-top: 3px;
    color: white;
    height: 15px;
    width: 15px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: absolute;
  }
  


  .main-header {
    width: 100%;
    padding: 8px 16px;
    position: fixed;
    top: 0;
    left: 0;
    background: #030305;
    z-index: 1;
  }

  
  a {
    text-decoration: none;
    color: inherit;
  }

  nav ul li{
      display: inline;
      padding: 1rem;
      float: left;
      width: auto;
      overflow-wrap: normal;
  }
  nav div{
      display: grid;
  }

  /* .main-nav a::after{
    content: none;
    font-weight: bold;
    height: 7.49px;
    width: 7.49px;
    position: relative;
    padding: 11px

} */

  .main-nav a:first-child{
    content: none;
}
  
  a:hover {
    text-decoration: underline;
  }
main div{
    display: flex;
    height: 100%;
    position: absolute;
    top: 90px;
    flex-wrap: wrap;
}
  #feature-story-section{
    width: 100%;
    color: white;
    background-color: #030305;
    background-image: 
    /* linear-gradient(to top,  #030305, transparent), */
    url("images/young-beautiful-sportive-girl-training-with-dumbbells-dark-wall 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    position: relative;
    width: 100vw;
    padding-top:3%;
    height: auto;
  }
  #feature-story-left{
    position: absolute;
    width: 573.28px;
    height: 274.27px;
    left: 67.44px;
    top: 50.00px;
  }
  .feature-story{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;  
    color: #FFFFFF80; 
    margin-bottom: 0;
 }
 .feature-story-header{
    font-family: Butler;
    font-size: 75px;
    font-weight: 800;
    line-height: 90px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0;
 }

  .feature-story-body-left{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF80;
}

  #feature-story-top-right{
    position: absolute;
    width: 375px;
    top: 120px;
    right: 60px;
    margin-bottom: 56px;
}
.feature-story-body{
    display: flex;
    flex-shrink: inherit;
    width: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
}
.feature-story-footer{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF80;
    margin-top: 0;
}
#feature-story-bottom-right{
    position: absolute;
    width: 375px;
    top: 295px;
    right: 60px;
}
 .trending-story{
    background: white;
    color: black;
    position: absolute;
    display: inline-flex;
    width: auto;
    height: auto;
    left: 462.37px;
    right: 57px;
    top: 705.92px;
    padding: 26px;
    padding-left: 100px;
 }
 .trending-story-header{
    position: absolute;
    height: 24px;
    top: 45px;
    left: 0px;
    font-size: 16px;
    font-weight: inherit;
    line-height: 24px;    
    color: #000000;
    transform: rotate(-90deg);
    margin-right: 0;
    display: inline-flex;
}
.trending-story-div{
    position: relative;
    display: block;
    left: 15px;
    padding-right: 20px;
    top: 0;

}
.trending-story-body{
    margin-top: 0;
    width: 240px;
    height: 49px;
    left: 707px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
}
.trending-story-footer{
    width: 219px;
    height: 21px;
    left: 707.42px;
    top: 806.34px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #00000080;
    margin-top: 0;
}
#latest-section{
    position: relative;
    top: 960px;
    color: black;
    height:auto;
    width: auto;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 67px;
    padding-left: 67px;
    
}
#latest-header{
    position: absolute;
    font-family: Butler;
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
    display: inline-flex;
}
.latest-div{
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 42px;
}

.latest-story-div-left{
    position: absolute;
    width: 496.29px;
    left: 37px;
    top: 380px;
    display: inline-flex;
    flex-wrap: wrap;
}
.latest-story-left-header{
    font-family: Butler;
    font-style: inherit;
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
    color: white;
}

.latest-story-footer{
    position: absolute;
    width: 282px;
    height: 27px;
    top: 115px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF80;
    margin-top: 12px;
}

.latest-story-div-right{
    position: absolute;
    top: 0px;
    left: 610px;
    height: auto;
    padding-left: 67px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: right;
}

.latest-story-div-right-top{
    position: relative;
    top: 0px;
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 0;
}

.latest-story-top{
    position: absolute;
    left: 260.42px;
    top:0;
    width: 400px;
    height: auto;
    color: black;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 0;
    margin-left: 15px;

}
.latest-story-bottom{
    position: relative;
    top:0;
    width: 360px;
    height: auto;
    color: black;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 0;
}


.latest-story-div-right-bottom{
    position: absolute;
    top:310px;
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.latest-story-header{
    width: 433px;
    left: 1023px;
    top: 1120px;
    font-family: Butler;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: black;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}
.latest-story-subtext{
    position: relative;
    margin-top: 0;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #1D1D1D80;
}
.latest-story-body{                         
    position: relative;
    width: 338.55px;
    margin-top: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D80;

}
.latest-story-image{
    position: absolute;
    top: 0px;
    left:380px;
    width: 433px;
    height: auto;
    color: black;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

#stories-section{
    display: grid;
    grid-template-columns: 330px 525px 330px;
    grid-template-rows: 50% 50%;
    column-gap: 66px;
    row-gap: 157px;
    position: relative;
    top: 1600px;
    left: 67px;
    margin-left: 67px;
    margin-right: 67px;
    margin: 0;
    
}
.story-left-top-div{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
.story-left-bottom-div{
    grid-column: 1;
    grid-row: 2;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

}
.story-center-div{
    grid-column: 2;
    grid-row: 1/2;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

}
.story-right-top-div{
    grid-column: 3;
    grid-row: 1;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

}
.story-right-bottom-div{
    grid-column: 3;
    grid-row: 2;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

}
.story{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 0;
    position: relative;
    top: 380px;
    height: auto;
}
.story-center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 0;
    position: relative;
    top: 900px;
    height: auto;
}

.story-header{
    padding: 0;
    margin-top: 22px;
    margin-bottom: 7px;
    width: auto;
    padding-right: 50px;
    height: 63.99px;
    font-family: Butler;
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
}


.story-subtext{
    padding: 0;
    margin: 0px;
    color: #1D1D1D80;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    width: 219px;
    height: 21px;

}
.story-body{
    padding: 0;
    margin-top: 25px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D80;

}
#banner-section{
    position: relative;
    top: 2930px;
    margin: 0;
    height: auto;
    margin: 0px;
    padding: 0;
    margin-left: 67px;
    margin-right: 67px;

}

.banner-div{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(to left,#B8D8F4 10.24%,#5095C3 39.27%,#01508F 95.21%);
    height: auto;
    position: relative;
    padding-left: 90px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.banner-title{
    width: 112px;
    height: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF99;
    position: relative;
    margin: 0;
}

.banner-text{
    font-family: Butler;
    font-style: normal;
    font-weight: 800;
    font-size: 74px;
    line-height: 89px;
    color: #FFFFFF;
    position: relative;
    margin: 0;
    padding-right: 290px;

}

.read-more{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #01508F;
    background-color: white;
    height: auto;position: relative;
    padding: 8px 18px;
    margin-top: 30px;
    margin-bottom: 0;

}

.banner-image{
    position: absolute;
    width: 1275.92px;
    height: 921px;
    left: 400px;
    top: -190px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#training-section{
    position: relative;
    top: 3370px;
    margin-top: 0;
    height: auto;
    margin: 0px;
    padding: 0;
    margin-left: 67px;
    margin-right: 67px;
}
.training-div-top{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 617px 617px;
    row-gap: 67px;
    column-gap: 67px;
    position: relative;
    grid-row: 1;
    margin: 0;
    padding: 0;
    height: auto;

}
.training-div-bottom{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 67px;
    position: relative;
    grid-row: 2;
    height: auto;
    top: 650px;
    margin-top: 20px;
    padding: 0;
    width: auto;
}


#training-title{
    position: absolute;
    font-family: Butler;
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 35px;
    display: inline-flex;
    width: 348px;
    height: 58px;
    top: 140px;
}

.training-div-left-top{
    grid-row: 1;
    grid-column: 1;
    position: relative;
    height: auto;
}
.training-div-left-bottom{
    grid-row: 2;
    grid-column: 1;
    position: relative;
    height: auto;
    top: 280px;
    margin-top: 10px;
}
.training-div-right{
    grid-row: 1;
    grid-column: 2;
    position: relative;
    height: auto;
}
.training-div-bottom-left{
    grid-row: 1;
    grid-column: 1;
    position: relative;
    height: auto;
}

.training-div-bottom-center{
    grid-row: 1;
    grid-column: 2;
    position: relative;
    height: auto;
}
.training-div-bottom-right{
    grid-row: 1;
    grid-column: 3;
    position: relative;
    height: auto;
}
.training-left-top{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 0;
    position: relative;
    top: 351px;
    height: auto;

}
.training-left-bottom{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 0;
    position: relative;
    top: 350px;
    height: auto;
}
.training-right{
    position: relative;
    top: 838px;
    margin-top: 0px;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 302px 302px;
    column-gap: 12px;
}

.training-header{
    padding: 0;
    margin-top: 22px;
    margin-bottom: 7px;
    width: auto;
    padding-right: 50px;
    height: 68px;
    font-family: Butler;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
}


.training-subtext{
    padding: 0;
    margin: 0px;
    color: #1D1D1D80;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    width: auto;
    height: 27px;

}
.training-body{
    padding: 0;
    margin-top: 25px;
    margin-bottom: 0;
    color: #1D1D1D80;
    width: auto;
    height: 66px;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;

}
.training-right div{
    grid-column: 1;
    position: relative;
    margin-top: 22px;
    padding-top: 0px;
    height: auto;
    display: inline-block;
    top: 0px;
}
.training-right h1{
    position: relative;
    font-family: Butler;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}
.training-right h6{
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    padding: 0px;
    color: #1D1D1D80;
}

.training-right p{
    grid-column: 2;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #1D1D1D80;
    margin-top: 22px;
}


.training-bottom{
    position: relative;
    top: 353px;
    flex-wrap: wrap;
    padding-bottom: 0;
}

.training-bottom-header{
    padding: 0;
    margin-top: 22px;
    margin-bottom: 7px;
    width: auto;
    padding-right: 50px;
    height: 68px;
    font-family: Butler;
    font-weight: 800;
    font-size: 28px;
    padding-right: 30px;

}

.training-bottom-subtext{
    padding: 0;
    margin: 0px;
    color: #1D1D1D80;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: auto;
    height: 27px;

}

.training-bottom-body{
    padding: 0;
    margin-top: 25px;
    margin-bottom: 0;
    color: #1D1D1D80;
    width: auto;
    height: 66px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

#life-balance-section{
    position: relative;
    top: 5330px;
    height: auto;
    margin: 0px;
    padding: 0;
    margin-left: 67px;
    margin-right: 67px;
    display: grid;
    grid-template-rows: 70% 30%;
    row-gap: 67px;
}

#life-balance-title{
    position: absolute;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 35px;
    display: inline-flex;
    width: 440px;
    height: 58px;
    font-family: Butler;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
}

.life-balance-top-div{
    grid-row: 1;
    position: relative;
    top: 0px;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 67px;
}

.food-div{
    grid-row: 1;
    grid-column: 1;
    position: relative;
}

.body-and-soul-div{
    grid-row: 1;
    grid-column: 2;
    position: relative;
}

.life-div{
    grid-row: 1;
    grid-column: 3;
    position: relative;
}

.life-balance-text-div{
    position: relative;
    top: 550px;
    display: inline-block;
}
.life-balance-bottom-div{
    grid-row: 2;
    position: relative;
    top: 70px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 67px;
}
.bottom-left-div{
    grid-column: 1;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 15px;
}
.bottom-center-div{
    grid-column: 2;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 15px;
}
.bottom-right-div{
    grid-column: 3;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 15px;
}
.bottom-div1{
    grid-column: 1;
    position: relative;
}  
.bottom-div2{
    grid-column: 2;
    position: relative;
}
.life-balance-bottom-text-div{
    position: relative;
    top: 270px;
}

.life-balance-title{
    width: auto;
    height: 48px;
    left: 67px;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

.life-balance-header{
    width: 340px;
    height: 64.27px;
    font-family: Butler;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    margin-top: 22px;
    margin-bottom: 7px;
}

.life-balance-subtext{
    width: 251px;
    height: 24px;
    color: #1D1D1D80;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 22px;
}

.life-balance-body{
    margin-bottom: 67px;
    width: 341.52px;
    height: auto;
    color: #1D1D1D80;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 5px;
}
.life-balance-bottom-header{
    width: auto; 
    padding-right: 10px;
    height: 38.86px;
    font-family: Butler;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}

#workout-trend-section{
    position: relative;
    top: 6670px;
    height: auto;
    width: 100%;
    padding: 0;
    margin-left: 67px;
    margin-right: 67px;
    display: grid;
    grid-template-rows: 60% 40%;
    row-gap: 67px;
}

#workout-trend-title{
    position: absolute;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-flex;
    height: 58px;
    font-family: Butler;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
}

hr{
    border: 1px solid #00000080;
    position: relative;
}

.workout-trend-div-top{
    grid-row: 1;
    display: grid;
    grid-template-columns: 699.45px 550px;
    column-gap: 67px;
    position: relative;
    height: auto;
    width: auto;
    margin-top: 0;
}
.workout-trend-div-bottom{
    grid-row: 2;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 67px;
    position: absolute;
    height: auto;
    top: 300px;
    margin-top: 20px;
    padding: 0;
    width: auto;
}

.workout-trend-div-top-left{
    grid-column: 1;
    position: relative;
    padding-top: 0px;
    height: auto;
    display: inline-block;
    top: 0px;
}
.workout-trend-div-top-right{
    grid-column: 2;
    position: relative;
    padding-top: 0px;
    height: auto;
    display: inline-block;
    top: 0px;
}
.workout-trend-top-left-text-div{
    position: absolute;
    top: 672.54px;
    margin-top: 0px;
    height: auto;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 60px;
}
.workout-trend-image{
    position: relative;
    top: 0;
}
.workout-trend-top-left-text-div div{
    grid-column: 1;
    position: relative;
    margin-top: 22px;
    padding-top: 0px;
    height: auto;
    display: inline-block;
    top: 0px;
}

.workout-trend-header-left{
    position: relative;
    font-family: Butler;
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0;
}
.workout-trend-subtext-left{
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    padding: 0px;
    color: #1D1D1D80;
}

.workout-trend-body-left{
    grid-column: 2;
    position: relative;
    width: 328px;
    height: 189px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;    
    color: #1D1D1D80;
    margin-top: 24px;
    margin-right: 0;
}

#trending-podcast{
    position: relative;
    font-family: Butler;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    margin: 0px;
    padding: 0;
    margin-bottom: 42px;

} 
.trending-podcast-div{
    display: inline-flex;
    position: relative;
    margin: 0px;
    padding: 0;
    top: 0;
    height: auto;

}
.trending-podcast-item{
    position: relative;
    display: grid;
    grid-template-columns: auto auto 15%;
    column-gap: 10px;
    margin-bottom: 20px;
    top: 0;
    height: auto;
    width: 100%;
}
.trending-podcast-image{
    grid-column: 1;
    position: relative;
}
.trending-podcast-title{
    grid-column: 2;
    position: relative;
    width: 341.5px;
    height: 64.27px;
    font-family: Butler;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    padding: 0;
    margin: 0;
}
.post-time-div{
    grid-column: 3;
    position: relative;
    padding: 0;
    height: auto;
    width: 68px;
    top: 0;
    display: inline-flex;
    text-align: center;
}

.post-time{
    padding: 0;
    margin: 0;
    position: relative;
    width: 87px;
    height: 27px;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    top: 25px;
}

.workout-trend-div-bottom-left{
    grid-row: 1;
    grid-column: 1;
    position: relative;
    height: auto;
}

.workout-trend-div-bottom-center{
    grid-row: 1;
    grid-column: 2;
    position: relative;
    height: auto;
}
.workout-trend-div-bottom-right{
    grid-row: 1;
    grid-column: 3;
    position: relative;
    height: auto;
}

.workout-trend-text-div{
    position: absolute;
    top: 365px;
    display: inline;
    flex-wrap: wrap;
    padding-bottom: 0;
}

.workout-trend-header{
    width: 389px;
    height: 64px;
    font-family: Butler;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    margin-top: 22px;
    margin-bottom: 7px;

}

.workout-trend-subtext{
    width: 251px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D80;
    margin-top: 0px;
    margin-bottom: 22px;


}

.workout-trend-body{
    width: 341.5px;
    height: 73.98px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #1D1D1D80;
}

.footer {
    position: absolute;
    top: 8600px;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0;
    padding-left: 67px;
    padding-right: 67px;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0;
  }

.footer-div{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 35% 55% 10%;
    column-gap: auto;
    text-align: left;
    padding-top: 0;
    margin-top: 50px;
    margin-bottom: 40px;
}

.footer-div-left{
    grid-column: 1;
    position: relative;
}
.footer-div-center{
    grid-column: 2;
    position: relative;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: auto;
}

.footer-div-right{
    grid-column: 3;
    position: relative;
}

.footer-div-center1{
    grid-column: 1;
    position: relative;
}
.footer-div-center2{
    grid-column: 2;
    position: relative;
}
.footer-div-center3{
    grid-column: 3;
    position: relative;
}

.footer-title{
    height: 42px;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 23px;
}

.footer-subtext{
    height: 33px;
    width: 180px;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 5px;
}

.footer-flex{
    width: auto;
    font-family: Butler;
    font-weight: 500;
    font-size: 74px;
    line-height: 89px;
    margin: 0px;
    padding-top: 0;
    margin-bottom: 15px;

}

.footer-about-us{
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    padding: 0;
    margin: 0;
}

.footer-body{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    margin-top: 15px;
    width: 367px;
}

.footer-socials{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    height: auto;
    margin-right: 67px;
    align-self: center;
    padding: 0;

}
.facebook-icon {
    width: 37.5px;
    height: 38.83px;
    border-radius: 50%;
    /* padding-left: 86.2%;
    padding-right: 13.18%; */
    padding: 12px 10px 5px 10px;
    margin: 0px;
    margin-right: 15px;
    background-color: white;
    color: #1D1D1D;
}

.instagram-icon{
    width: 37.5px;
    height: 38.83px;
    border-radius: 50%;
    padding: 12px 8px 5px 8px;
    margin: 0px;
    margin-right: 15px;
    background-color: white;
    color: #1D1D1D;

}
.twitter-icon{
    width: 37.5px;
    height: 38.83px;
    border-radius: 50%;
    padding: 12px 8px 5px 8px;
    margin: 0px;
    margin-right: 15px;
    background-color: white;
    color: #1D1D1D;

}
.copyright{
    width: 303px;
    height: 26px;
    margin-bottom: 11.28px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    position: relative;
    display: inline;
}





