*{
    font-family: sans-serif;
}

h1{
    color: aqua;
    font-family: 'Anton', sans-serif;
}

code{
    font-family: monospace;
    color: red;
}

.codeListItem code{
    color: green;
}

li + li {
    background-color: black;
    color: white;
}

ol li{
    background-color: black;
    color: white;
}