div{
    min-width: 50px;
    background: red;
    color: white;
    padding: 10px 10px 5px 5px;
    margin: 30px 30px 20px 20px;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    box-sizing:border-box;
}

.first{
    height: 300px;
    width: 50%;
    display: inline-block
}

.second:hover{
    border: 5px solid green;
}